@import "src/styles/mixins";

.user-player {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  .user-player-cards {
    flex: 1 1 85%;
    display: flex;
    max-width: 85vw;
    justify-content: center;
    align-items: center;

    .card-wrapper {
      overflow: hidden;
      cursor: grab;
    }

    .card-wrapper:last-child, .card-wrapper:hover {
      overflow: visible;
    }
  }

  .stack-cards {
    flex: 1 1 15%;
    display: flex;
    position: relative;
  }

  .cdk-drop-list-receiving.stack-cards {
    @include table-card;
    border-color: red;
    border-style: solid;
    border-width: 4px;
    background-color: rgba(255, 00, 00, 0.3);
  }
}

.user-player-card.cdk-drag-placeholder {
  @include table-card;
  position: absolute;

  img {
    border-color: red;
    border-style: solid;
    border-width: 2px;
  }
}
