<div class="user-player-cards" >
  <div class="hand-cards" cdkDropList cdkDropListConnectedTo="played-cards-drop-target">
    <div class="card-wrapper" *ngFor="let card of handCards; trackBy: trackByCardId">
      <div class="user-player-card" cdkDrag [cdkDragData]="card" (dblclick)="handOutCard(card)">
        <img [src]="getCardImage(card)">
      </div>
    </div>
  </div>
  <div class="stack-cards" cdkDropList id="user-stack-drop-target"
       (cdkDropListDropped)="tableCardsDroppedOnStack($event)">
    <button mat-mini-fab color="primary" *ngIf="isRevertStackTakenAllowed" class="undo-button"
            (click)="redoStackTakenAction()" aria-label="Karte zurücknehmen" title="genommene Karten zurücklegen">
      <mat-icon>undo</mat-icon>
    </button>
    <mc-card-pile [cards]="player.stacks[0]?.cards" cardCssClass="user-player-card"></mc-card-pile>
  </div>
</div>
<mc-player-name [playerName]="player.name" [showState]="false"></mc-player-name>
