<div class="card-wrapper">
  <div class="player-hand">
    <div [style.transform]="'rotate(' + getRotation(i) + 'deg) translateX(' + getTranslateX(i) + 'px)'" class="card"
         *ngFor="let card of handCards; let i = index; trackBy: trackByCardId">
      <img src="./assets/cards/BLUE_BACK.svg" alt="card cover">
    </div>
  </div>
  <mc-card-pile [cards]="stack" cardCssClass="player-card" [flyInAnimation]="getStackFlyInAnimation()"></mc-card-pile>
</div>
<div class="player-wrapper">
  <mat-icon *ngIf="isDraggable">open_with</mat-icon>
  <mc-player-name *ngIf="player" [playerName]="player.name" [isAlive]="player.alive"
                  [ngClass]="{'turn-around': isNameTurnedAround()}"></mc-player-name>
</div>
