@import "src/styles/mixins";

:host {
  display: block;

  .stack {
    margin: 0 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    .stack-card {
      grid-area: 1 / 1 / 2 / 2;
    }
  }
}
