@import "src/styles/mixins";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .table-top {
    flex: 0 0 20%;
    margin: 8px 4px;

    .player-top {
      transform: rotate(180deg);
    }
  }

  @include small-size {
    .table-center {
      flex: 1 1 60%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;

      .table-left {
        flex-basis: 45%;
        order: 1;
        margin: 0 4px;
      }

      .table-right {
        flex-basis: 45%;
        order: 2;
        margin: 8px 4px;
      }

      .table-carpet {
        order: 3;
        flex: 1 1 80%;
      }

      .player-left, .player-right {
        height: 100%;
        transform: rotate(180deg);
      }
    }
  }

  @include normal-size {
    .table-center {
      flex: 1 1 60%;
      display: flex;

      .table-left, .table-right {
        display: flex;
        min-width: 50px;
        overflow: hidden;
      }

      .table-left .player-left {
        min-width: 50px;
        transform: rotate(90deg);
      }

      .table-carpet {
        flex: 1 1;
      }

      .table-right .player-right {
        min-width: 50px;
        transform: rotate(-90deg);
      }
    }
  }

  .table-bottom {
    flex: 0 0 20%;
    padding: 2px;
  }
}
