<mc-header></mc-header>

<form [formGroup]="gameForm" (ngSubmit)="createGame()" class="game-config-form">
  <mat-form-field appearance="outline">
    <mat-label>Spielname</mat-label>
    <label>
      <input matInput formControlName="gameName" required placeholder="z.B. fröhliche Jassrunde" minlength="1" maxlength="40">
    </label>
  </mat-form-field>

  <div class="game-type">
    <mat-label id="gameTypeRadioGroupLabel">gewünschtes Spiel</mat-label>
    <mat-radio-group aria-labelledby="gameTypeRadioGroupLabel" formControlName="gameType">
      <mat-radio-button *ngFor="let gameType of gameTypes" [value]="gameType">
        {{gameType}}
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="unsupported-game-tape" *ngIf="!isGameTypeSupported()">Aktuell wird als Spiel nur Schieber unterstützt</div>

  <mat-expansion-panel *ngIf="isGameSpecificConfigurationVisible()" class="game-type-specific-config" [expanded]="true" [disabled]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        spezifische Spieleinstellungen
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field appearance="fill">
      <mat-label>Anzahl Spieler*innen</mat-label>
      <input matInput type="number" formControlName="numberOfPlayers" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Anzahl zu gebende Karten pro Spieler*in</mat-label>
      <input matInput type="number" formControlName="numberOfGivenCardsPerPlayer" required>
    </mat-form-field>
    <mat-slide-toggle formControlName="oneSharedStack">
      Karten auf gemeinsamen Stappel legen
    </mat-slide-toggle>
  </mat-expansion-panel>

  <div class="create-game-button">
    <button type="submit" mat-raised-button color="primary" #createGameBtn="matButton"
            [disabled]="!gameForm.valid || isGameCreationInProgress || !isGameTypeSupported()">
      Spiel erzeugen
    </button>
    <mat-spinner [diameter]="28" *ngIf="isGameCreationInProgress"></mat-spinner>
  </div>
</form>

<ng-template #errorDialogTemplate let-data>
  <div>{{data.error}}</div>
</ng-template>
