<div class="game-wrapper" *ngIf="gameState$ | async as gameState; else loading">
  <div class="toolbar">
    <button *ngIf="isGameStarteable(gameState)" class="toolbar-button" color="primary" mat-raised-button
            (click)="startGame()">
      <mat-icon>play_arrow</mat-icon>
      Spiel starten
    </button>
    <button *ngIf="isGameEndable(gameState)" class="toolbar-button" color="primary" mat-raised-button
            (click)="endGame()">
      <mat-icon>stop</mat-icon>
      Spiel beenden
    </button>
  </div>
  <mc-table class="table" [gameState]="gameState"></mc-table>
</div>
<ng-template #loading>
  <div class="loading-spinner">
    <div>Das Spiel wird geladen</div>
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
</ng-template>
