<div class="game-wrapper" *ngIf="gameState$ | async as gameState; else loading">
  <div class="toolbar">
    <div class="toolbar-button-wrapper">
      <button *ngIf="isGameStarteable(gameState)" class="toolbar-button" color="primary" mat-raised-button
              (click)="startGame()">
        <mat-icon>play_arrow</mat-icon>
        Runde starten
      </button>
      <button *ngIf="isGameEndable(gameState)" class="toolbar-button" color="primary" mat-raised-button
              (click)="endRound()">
        <mat-icon>remove_red_eye</mat-icon>
        Karten zeigen
      </button>
    </div>
    <div class="game-info">{{gameState.title}} Runde {{gameState.currentRound}}</div>
    <mat-icon class="game-menu" [matMenuTriggerFor]="gameMenu">menu</mat-icon>
    <mat-menu #gameMenu="matMenu">
      <button mat-menu-item (click)="showScore()">
        <mat-icon class="score-board-menu-icon">grid_4x4</mat-icon>
        <span>Spieltafel anzeigen</span>
      </button>
      <button mat-menu-item [disabled]="!isRoundAbortable(gameState)" (click)="abortRound()">
        <mat-icon>restart_alt</mat-icon>
        <span>Runde abbrechen</span>
      </button>
    </mat-menu>
  </div>
  <mc-table class="table" [gameState]="gameState"></mc-table>
</div>
<ng-template #loading>
  <div class="loading-spinner">
    <div>Das Spiel wird geladen</div>
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
</ng-template>
