@import "src/styles/mixins";

:host {
  display: block;
  height: 100%;
  background-image: url("../../../../../assets/table-background.jpg");
  background-size: cover;
  background-color: saddlebrown;

  .game-wrapper {
    display: flex;
    flex-direction: column;

    .toolbar {
      display: flex;
      align-items: center;
      padding-left: 8px;

      .start-button {
        margin: 4px 0;
        height: 80%;
      }
    }

    .table {
      flex: 1 0 100%;
    }
  }

  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    div {
      font-size: 1.2em;
      color: darkblue;
      margin-right: 20px;
    }
  }
}
