<mat-dialog-content>
  <div class="board" *ngIf="game$ | async as game">
    <h1 *ngIf="!hasScore()">{{getNoScoreText(game)}}</h1>
    <div *ngIf="hasScore()" class="score-table">
      <div class="score-table-row score-table-header">
        <div class="score-table-cell first">Spieler</div>
        <div class="score-table-cell">{{sortedPLayers[0].name + ' und ' + sortedPLayers[2].name}}</div>
        <div class="score-table-cell">{{sortedPLayers[1].name + ' und ' + sortedPLayers[3].name}}</div>
      </div>
      <div *ngFor="let roundScore of scores" class="score-table-row">
        <div class="score-table-cell first">{{'Runde ' + roundScore.round}}</div>
        <div class="score-table-cell" *ngFor="let playerScore of roundScore.playerScores">
          {{playerScore.score}}
        </div>
      </div>
      <div class="score-table-row score-table-footer">
        <div class="score-table-cell first">Total</div>
        <div class="score-table-cell">{{total[0]}}</div>
        <div class="score-table-cell">{{total[1]}}</div>
      </div>
    </div>
  </div>
</mat-dialog-content>
