<header>
  <mat-form-field appearance="outline" class="game-id">
    <mat-label>Spiel ID</mat-label>
    <input matInput [(ngModel)]="gameId">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="joinGame()">Spiel beitreten</button>
</header>

<main class="multicard-app">
  <h1>Multicard Game</h1>

  <div class="header-normal-size">
    <h2>Konfiguriere ein Kartenspiel für dich und deine Freunde innert Sekunden</h2>
    <h4>Erzeuge mit wenigen Clicks einen Spieltisch</h4>
  </div>

  <div class="header-small-size">
    <h2>in wenigen Sekunden zu einem neuen Spiel</h2>
  </div>

  <button mat-raised-button color="primary" #createGameBtn="matButton" (click)="createGame()">neues Spiel erstellen</button>
</main>

<ng-template #errorDialogTemplate let-data>
  <div>{{data.error}}</div>
</ng-template>
