/* You can add global styles to this file, and also import other style files */
@import "src/styles/mixins";

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Arial";
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.user-player-card {
  max-width: 150px;
  max-height: 209px;
  padding: 2px;

  @include small-size {
    min-width: 38px;
    min-height: 50px;
  }

  @include normal-size {
    min-width: 75px;
    min-height: 100px;
  }

  @include card-image;
}

.table-card {
  grid-area: 1 / 1 / 2 / 2;

  @include table-card;
}


