@import "src/styles/mixins";

:host {
  display: block;

  .pile {
    margin: 0 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    .pile-card {
      grid-area: 1 / 1 / 2 / 2;
    }
  }
}
