:host {
  display: flex;
  flex-direction: column;

  .player-registration {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin: 50px;
      text-align: center;
    }

    button {
      margin-top: 40px;
    }
  }
}
