<mc-header></mc-header>

<main class="player-registration">
  <h1>Lade deine Mitspieler*innen ein</h1>

  <h3>Spielname: {{game.title}}, ID: {{gameId}}</h3>

  <qrcode [qrdata]="gameUrl" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>

  <div class="game-link">{{gameUrl}}</div>

  <div class="share-game">
    <button mat-raised-button [cdkCopyToClipboard]="gameUrl">
      <mat-icon>content_copy</mat-icon>
      url kopieren
    </button>
    <a mat-raised-button [href]="gameEmail">
      <mat-icon>share</mat-icon>
      via E-Mail teilen
    </a>
  </div>

  <button mat-raised-button color="primary" #createGameBtn="matButton" (click)="joinGameTable()" class="game-table-button">zum Spieltisch</button>
</main>

<ng-template #errorDialogTemplate let-data>
  <div>{{data.error}}</div>
</ng-template>
