@import "src/styles/mixins";

:host {
  display: block;
  width: 100%;
  height: 100%;

  .played-cards {
    width: 100%;
    height: 100%;

    .played-cards-drag-area {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .pile-with-undo-button {
        position: relative;

        .undo-button {
          position: absolute;
          right: -20px;
          bottom: 8px;
          width: 24px;
          height: 24px;
          mat-icon {
            font-size: 10px !important;
          }
        }
      }

      .player-card-drag-in-progress {
        @include drag-and-drop-target-area;
      }

      .table-cards-draggeable {
        cursor: grab;
      }

      .played-cards-area-top, .played-cards-area-bottom {
        flex: 1 1 33.3%;
      }

      .played-cards-area-center {
        flex: 1 1 33.3%;
        display: flex;

        .played-cards-area-left, .played-cards-area-right {
          flex: 1 1 33.3%
        }

        .played-cards-area-middle {
          flex: 1 133.3%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .played-area-cards {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
      }
    }
  }
}

.drag-table-card-placeholder {
  @include table-card;

  position: absolute;
  left: 0;
  top: 0;
  overflow: visible;

  @include drop-target-placeholder;
}
