<div class="played-cards" cdkDropList cdkDropListConnectedTo="user-stack-drop-target"
     [cdkDropListDisabled]="!isDragAndDropOfCardsAllowed()">
  <div class="played-cards-drag-area" cdkDrag [cdkDragData]="playedCards?.cards">
    <div class="played-cards-area-top">
      <div *ngIf="!playedCards?.onSameStack" class="played-area-cards" (dblclick)="takePlayedCards()">
        <mc-card-pile [cards]="cards[2]" cardCssClass="table-card" cdkDragHandle
                      [flyInAnimation]="flyInAnimationFromTop"
                      [ngClass]="{'table-cards-draggeable': isDragAndDropOfCardsAllowed()}"></mc-card-pile>
      </div>
    </div>
    <div class="played-cards-area-center">
      <div class="played-cards-area-left">
        <div *ngIf="!playedCards?.onSameStack" class="played-area-cards" (dblclick)="takePlayedCards()">
          <mc-card-pile [cards]="cards[1]" cardCssClass="table-card" cdkDragHandle
                        [flyInAnimation]="flyInAnimationFromLeft"
                        [ngClass]="{'table-cards-draggeable': isDragAndDropOfCardsAllowed()}"></mc-card-pile>
        </div>
      </div>
      <div class="played-cards-area-middle">
        <div *ngIf="playedCards?.onSameStack" class="played-cards-drop-target played-area-cards" cdkDropList
             [id]="'played-cards-drop-target'" (cdkDropListDropped)="cardDroppedMiddle($event)">
          <div class="pile-with-undo-button" (dblclick)="takePlayedCards()">
            <button mat-mini-fab color="primary" *ngIf="isLastCardPLayedByUser" class="undo-button" mat-raised-button
                    (click)="redoLastCardAction()" aria-label="Karte zurücknehmen" title="Karte zurücknehmen">
              <mat-icon>undo</mat-icon>
            </button>
            <mc-card-pile [cards]="playedCards?.cards" cardCssClass="table-card" cdkDragHandle
                          [ngClass]="{'table-cards-draggeable': isDragAndDropOfCardsAllowed()}">
              <div *cdkDragPreview>
                <mc-card-pile [cards]="playedCards?.cards" cardCssClass="table-card"></mc-card-pile>
              </div>
              <div *cdkDragPlaceholder>
                <mc-card-pile class="drag-table-card-placeholder" [cards]="playedCards?.cards"
                              cardCssClass="table-card"></mc-card-pile>
              </div>
            </mc-card-pile>
          </div>
        </div>

        <ng-content></ng-content>

      </div>
      <div class="played-cards-area-right">
        <div *ngIf="!playedCards?.onSameStack" class="played-area-cards" (dblclick)="takePlayedCards()">
          <mc-card-pile [cards]="cards[3]" cardCssClass="table-card" cdkDragHandle
                        [flyInAnimation]="flyInAnimationFromRight"
                        [ngClass]="{'table-cards-draggeable': isDragAndDropOfCardsAllowed()}"></mc-card-pile>
        </div>
      </div>
    </div>
    <div class="played-cards-area-bottom">
      <div *ngIf="!playedCards?.onSameStack" class="played-cards-drop-target played-area-cards" cdkDropList
           [id]="'played-cards-drop-target'" (cdkDropListDropped)="cardDroppedBottom($event)">
        <div class="pile-with-undo-button" (dblclick)="takePlayedCards()">
          <button mat-mini-fab color="primary" *ngIf="isLastCardPLayedByUser" class="undo-button"
                  (click)="redoLastCardAction()" aria-label="Karte zurücknehmen" title="Karte zurücknehmen">
            <mat-icon>undo</mat-icon>
          </button>
          <mc-card-pile [cards]="cards[0]" cardCssClass="table-card" cdkDragHandle
                        [ngClass]="{'table-cards-draggeable': isDragAndDropOfCardsAllowed()}">
            <div *cdkDragPreview>
              <mc-card-pile [cards]="playedCards?.cards" cardCssClass="table-card"></mc-card-pile>
            </div>
            <div *cdkDragPlaceholder>
              <mc-card-pile class="drag-table-card-placeholder" [cards]="playedCards?.cards"
                            cardCssClass="table-card"></mc-card-pile>
            </div>
          </mc-card-pile>
        </div>
      </div>
    </div>
  </div>
</div>
