@import "src/styles/mixins";

:host {
  display: block;

  h1 {
    text-align: center;
  }

  @include small-size {
    h1 {
      font-size: 1.6em;
    }
  }

  .player-registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .error-msg {
      color: red;
      white-space: pre-line;
      text-align: center;
    }

    .pwd-hint {
      font-size: 75%;
      text-align: center;
    }

    @include normal-size {
      margin: 10px;

      .error-msg-top, .error-msg-bottom {
        margin: 20px 0;
      }
    }

    @include small-size {
      margin: 10px;

      .error-msg-top, .error-msg-bottom {
        margin: 4px 0;
      }
    }
  }

  mat-dialog-actions {
    display: flex;
    justify-content: flex-end;

    mat-spinner {
      margin-left: 8px;
    }
  }
}
